/* Filters*/

.filter-housing {
  width: 1200px;
  height: 217px;
  color: white;
  background-color: #333333;
  background-image: url("../img/sedona-background.jpg");
  background-repeat: repeat;
}

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 72px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.filter legend {
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.filter-input-checkbox + label::before {
  content: "";
  order: 0;
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::after {
  content: "";
  order: 5;
  position: absolute;
  top: 0;
  left: -42px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-by-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.filter-by-price {
  outline-offset: -5px;
  outline: 5px solid rgba(0, 255, 34, 0.7);
  width: 50%;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}
.filter-by-type div {
  width: 200px;
  margin-right: 58px;
}

.filter-item li {
  margin: 0;
  padding: 0;
  border: none;
  padding-bottom: 25px;
  padding-left: 40px;
}

.range-filter {
  width: 316px;
}

.filter-item legend {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 0;
  border-radius: 5px;
  right: 0;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 170%;
  height: 2px;
  background: white;
}
/*
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
/*
.range-controls .toggle-min {
  left: 18px;
}
/*
.range-controls .toggle-max {
  left: 160px;
}*/

.price-controls {
  display: flex;
  justify-content: space-between;
  border: 2px solid white;
}

.price-controls label {
  text-transform: uppercase;
  font-family: var(--font-main);
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}
