/* Filters*/

.filter-housing {
  width: 1200px;
  height: 217px;
  color: white;
  background-color: #333333;
  background-image: url("../img/sedona-background.jpg");
  background-repeat: repeat;
}

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 71px 0 71px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.filter legend {
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.filter-input-checkbox + label::before {
  content: "";
  order: 0;
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.3;
}

.filter-input-checkbox:checked + label:before {
  content: "";
  order: 5;
  position: absolute;
  top: 0;
  left: -42px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-by-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-item {
  padding: 0;
  margin: 0;
  border: none;
  margin-right: 120px;
}

.filter:last-child {
  margin-right: 0;
}

.filter-by-type div {
  width: 200px;
  margin-right: 58px;
}

.filter-item {
  margin-right: 120px;
}

.filter-item ul {
  padding-left: 42px;
}

.filter-item li {
  margin: 0;
  padding: 0;
  border: none;
  padding-bottom: 25px;
}

.filter-item li:last-child {
  padding-bottom: 0;
}

/* Filter-by-price */

.filter-by-price {
  position: relative;
}

.filter-item-price::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: white;
  top: 39px;
  left: 50%;
  transform: translateX(50%);
}

.filter-item-price {
  padding: 0;
  margin: 0;
  border: none;
}

.range-filter {
  width: 317px;
  margin-top: 12px;
  padding-right: 3px;
}

.filter-item-price legend {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-top: 20px;
}

.range-controls .scale {
  width: 316px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 248px;
  height: 2px;
  background: white;
  margin-left: 14px;
}

.range-controls .toggle {
  position: absolute;
  left: 0;
  top: -8px;
  width: 2px;
  height: 2px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.toggle:hover {
  transform: scale(1.2);
}

.range-controls .toggle-min {
  left: 2px;
}

.range-controls .toggle-max {
  left: 255px;
}

.price-controls input {
  width: 52px;
  text-align: left;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: white;
  font-weight: 700;
}

.price-controls {
  display: flex;
  border: 2px solid white;
  width: 312px;
  height: 33px;
  justify-content: space-around;
  align-items: center;
}

.price-controls label {
  text-transform: uppercase;
  font-family: var(--font-main);
  font-size: 16px;
  padding-left: 35px;
}

.filter-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 8px 36px;
  background-color: transparent;
  margin-top: -12px;
}

.filter-button:hover {
  background-color: white;
  color: black;
}

/* Seach */

.search-field {
  position: absolute;
  z-index: 0;
  transform: translateX(-50%);
  left: 50%;
  background-color: white;
  width: 458px;
  font-family: var(--font-main);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  padding: 25px 55px 55px 55px;
}

.search-date {
  width: 0;
}

.number-of-persons {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

p.date {
  padding: 0;
  margin: 32px 0;
}

.button-calendar {
  width: 21px;
  height: 23px;
  border: none;
  background-image: url("../img/calendar.svg");
}

.number-of-persons-item {
  display: flex;
  justify-content: space-between;
}


.date input {
  position: relative;
  border: none;
  width: 320px;
  height: 38px;
  color: black;
  margin-left: 38px;
  text-align: left;
  font-family: var(--font-main);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.number-of-persons-item input {
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  width: 108px;
  text-align: center;
}

.button-amount {
  position: relative;
  margin-left: 40px;
}

.button-amount-of-child {
  position: relative;
  margin-left: 30px;
}

.button-plus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  width: 11px;
  height: 11px;
  background-image: url("../img/plus.svg");
  border: none;
}

.button-minus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 12px;
  height: 3px;
  background-image: url("../img/minus.svg");
  border: none;
}

.button-modal {
  display: block;
  width: 100%;
  margin-top: 60px;
  margin-right: 0;
  background-color: #81b3d2;
  padding: 16px 139px;
}
