/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-light-black: rgba(0, 0, 0, 0.3);
  --basic-dim-gray-light: #6a6a6a;
  --basic-dim-gray: #666666;
  --basic-night-rider: #333333;
  --basic-seagull: #81b3d2;
  --basic-light-shakespeare: #669ec0;
  --basic-shakespeare: #5496bd;
  --basic-white: #ffffff;
  --basic-extra-white: rgba(255, 255, 255, 0.9);
  --basic-light-white: rgba(255, 255, 255, 0.3);
  --basic-grey: #888888;
  --special-roman-coffee: #766357;
  --special-saddle: #604e43;
  --special-paco: #503e33;
  --special-white-smoke: #f2f2f2;
  --special-whisper: #ebebeb;
  --special-maverick: #bdbbbc;
  --spcial-black-russian-shadow: rgba(0, 1, 1, 0.2);
  --font-main: "PT Sans", Arial, sans-serif;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}
/* Global */

body {
  min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--special-white-smoke);
  text-transform: uppercase;
  text-align: center;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--spcial-black-russian-shadow);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

/* Main navigation */
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-header {
  min-height: 70px;
  width: 1054px;
  margin: 0 auto;
}

.header-logo {
  position: relative;
  z-index: 2;
  width: 138px;
  height: 70px;
  margin: auto;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  position: relative;
  z-index: 1;
  top: -70px;
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  width: 227px;
}

/* User navigation*/

.site-navigation a {
  color: var(--basic-black);
}

.item-navigation:first-child,
.item-navigation:nth-child(n + 4),
.item-navigation:nth-child(4n + 2) {
  text-align: start;
}

.item-navigation:nth-child(4n + 3),
.item-navigation:nth-child(4n) {
  text-align: end;
}

.item-navigation:nth-child(4n + 2) {
  margin-right: auto;
}

.site-navigation a:hover {
  color: var(--basic-seagull);
}

.site-navigation a:focus {
  color: var(--basic-light-black);
}

/*Main*/

.main-pic-sedona {
  width: 1200px;
  height: 509px;
  background-color: var(--basic-light-black);
}

/* Features */

.features-box-cafe {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.features-box-bridge {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.features-title {
  font-size: 21px;
  line-height: 26px;
}

.features-desc {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-night-rider);
  font-weight: 400;
}

.features h3 {
  font-size: 21px;
  line-height: 21px;
}

.text {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-night-rider);
  font-weight: 400;
}

.features-city {
  background-color: var(--basic-seagull);
  color: var(--basic-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 51px;
}

.bridge {
  padding: 49px;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-item {
  text-align: center;
  padding: 59px;
}

/*  Search hotel */

.search-hotel h2 {
  font-size: 30px;
  line-height: 24px;
}

.search-text {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-night-rider);
  font-weight: 400;
}

/* Buttons*/

.button {
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  background-color: var(--special-roman-coffee);
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--special-saddle);
}

.button:active {
  background-color: var(--special-paco);
  color: var(--basic-light-white);
}

.search-button {
  background-color: var(--basic-seagull);
  margin-right: 5px;
}

.search-button:hover {
  background-color: var(--basic-light-shakespeare);
}

.search-button:active {
  background-color: var(--basic-shakespeare);
  color: var(--basic-light-white);
}

/* Main footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-extra-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 25px;
  align-items: center;
  justify-items: center;
}

/* Contacts */

.page-footer {
  padding: 0px 111px;
}

.footer-contacts p {
  display: flex;
  width: 350px;
  justify-content: center;
}

.footer-contacts a {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  padding-left: 5px;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding-top: 25px;
}

.footer-copyright a {
  padding-left: 10px;
}

/* Social buttons */

.footer-social {
  text-align: center;
}

.footer-social {
  list-style: none;
  display: flex;
  justify-self: center;
  text-align: center;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: var(--basic-seagull);
  margin-right: 5px;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-light-shakespeare);
}

.social-button:active {
  background-color: var(--basic-shakespeare);
}

.social-button:active .social-icon {
  opacity: 0.5;
}

/* Copyright */

.copyright-text {
  font-weight: 400;
}

.footer-academy-link svg {
  fill: var(--basic-black);
}

.footer-academy-link:hover svg {
  fill: var(--basic-seagull);
}

.footer-academy-link:active svg {
  fill: var(--special-maverick);
}

/* Search form */

.search {
  text-transform: uppercase;
  text-align: center;
}

/* Hotels */

.hotels {
  display: grid;
  grid-template-rows: auto auto;
}

.caption {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.sort {
  font-size: 12px;
  line-height: 18px;
}

.sort-item {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sort-item a {
  list-style: none;
  color: var(--basic-light-black);
  background-color: var(--basic-white);
  border-bottom: 1px dashed var(--basic-seagull);
}

.sort-item a:hover {
  color: var(--basic-seagull);
}

.sort-item a:focus {
  color: var(--basic-seagull);
  border: transparent;
}

.sort-item a:active {
  color: var(--basic-black);
  border: transparent;
}

/* Hotels-list*/

.container-hotel {
  padding: 0px 72px;
}

.result {
  display: grid;
  grid-template-rows: min-content auto;
}

.result-sort {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}

.result-sort .caption {
  margin-right: 48px;
}

.sort-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-left: 41px;
  margin-right: auto;
  padding: 0;
}

.sort-item {
  margin-right: 35px;
}

.result-list {
  display: flex;
  flex-wrap: wrap;
}

.result-item {
  list-style: none;
}

.hotel-list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
}

.hotel-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  min-height: 150px;
}

.hotel-item-image {
  width: 135px;
  height: 90px;
  margin: 0;
}

.hotel-item-info {
  margin-left: 30px;
  margin-right: auto;
  display: grid;
  justify-items: flex-start;
}

.hotel-info {
  display: flex;
  flex-wrap: wrap;
}

.about-hotel {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-night-rider);
  margin: 13px 10px 13px 0px;
  width: 110px;
  text-align: start;
}

.star {
  align-self: flex-end;
}

.star-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.star-item {
  list-style: none;
  background-color: var(--basic-light-black);
  width: 17px;
  height: 17px;
}

a .caption-hotel {
  margin: 0;
  padding: 0;
}

a .caption-hotel:hover {
  color: var(--basic-seagull);
}

a .caption-hotel:active {
  color: var(--basic-light-black);
}

.rating {
  color: var(--basic-dim-gray);
}

.button-hotel {
  display: flex;
  align-items: center;
  width: 110px;
  height: 27px;
}
